Chemical Visualiser/ChemicalVisualiser.vcxproj.user
/Chemical Visualiser/.vs
/Chemical Visualiser/Chemical.cf7fd789
Chemical Visualiser/x64/Release/ChemicalVisualiser.exe
Chemical Visualiser/x64/Release/ChemicalVisualiser.pdb
Chemical Visualiser/imgui.ini
Chemical Visualiser/x64/Debug/ChemicalVisualiser.pdb
Chemical Visualiser/x64/Debug/ChemicalVisualiser.exe
Chemical Visualiser/imgui.ini
/OLD
/build
/.vs
/out
App/app_icon.aps
/enc_temp_folder
